include README.md LICENSE Pipfile Pipfile.lock

recursive-include tac *
recursive-include proto *
recursive-include tests *
recursive-include docs *
recursive-include templates *
recursive-include sandbox *
recursive-include simulation *
recursive-include scripts *
recursive-include oef_search_pluto_scripts *
