[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "https://test.pypi.org/simple"
verify_ssl = true
name = "test-pypi"

[dev-packages]
flake8 = "*"
ipython = "*"
jupyter = "*"
pytest = "*"
tox = "*"
tox-pipenv = "*"
pytest-cov = "*"
docker = "*"
flake8-docstrings = "*"

[packages]
numpy = "*"
matplotlib = "*"
python-dateutil = "*"
visdom = "*"
cryptography = "*"
base58 = "*"
fetchai-ledger-api = {git = "https://github.com/fetchai/ledger-api-py.git"}
oef = {version="==0.6.0", index="test-pypi"}
sphinxcontrib-mermaid = "*"
sphinxcontrib-apidoc = "*"
sphinx = "*"
nbsphinx = "*"
flask-restful = "*"
wtforms = "*"

[requires]
python_version = "3.7"
