[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
jupyter = "*"

[packages]
oef = {git = "ssh://git@github.com/uvue-git/oef-sdk-python.git"}
flask-sqlalchemy = "*"
sqlalchemy = "*"
numpy = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
