[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "https://test.pypi.org/simple"
verify_ssl = true
name = "test-pypi"

[dev-packages]
flake8 = "*"
ipython = "*"
jupyter = "*"
pytest = "*"
tox = "*"
tox-pipenv = "*"
pytest-cov = "*"
docker = "*"
flake8-docstrings = "*"
pygments = "*"

[packages]
fetchai-ledger-api = {git = "https://github.com/fetchai/ledger-api-py.git"}
base58 = "*"
cryptography = "*"
flask-restful = "*"
nbsphinx = "*"
numpy = "*"
matplotlib = "*"
oef = {version = "==0.6.0",index = "test-pypi"}
python-dateutil = "*"
sphinxcontrib-mermaid = "*"
sphinxcontrib-apidoc = "*"
sphinx = "*"
wtforms = "*"
visdom = "*"
aea = {editable = true,git = "https://github.com/fetchai/agents-aea.git",ref = "develop"}

[requires]
python_version = "3.7"
