aea==0.1.4
alabaster==0.7.12
aniso8601==8.0.0
attrs==19.3.0
babel==2.8.0
base58==2.0.0
bcrypt==3.1.7
bleach==3.1.5
cached-property==1.5.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorlog==4.1.0
cryptography==2.9.2
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
docker-compose==1.25.5
docker[ssh]==4.2.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.16
entrypoints==0.3
flask-restful==0.3.8
flask==1.1.2
git+https://github.com/fetchai/ledger-api-py.git@83bcae0bbe140b05e9413f4a5240b4a9b1cd6dc3#egg=fetchai-ledger-api
graphviz==0.14
idna==2.8
imagesize==1.2.0
importlib-metadata==1.6.0; python_version < '3.8'
ipython-genutils==0.2.0
itsdangerous==1.1.0
jinja2==2.11.2
jsonpatch==1.25
jsonpointer==2.0
jsonschema==3.2.0
jupyter-core==4.6.3
kiwisolver==1.2.0
markupsafe==1.1.1
matplotlib==3.2.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.6
nbsphinx==0.7.0
numpy==1.18.4
oef==0.6.10
packaging==20.3
pandas==1.0.3
pandocfilters==1.4.2
paramiko==2.7.1
pbr==5.4.5
pillow==7.1.2
protobuf==3.11.3
pycparser==2.20
pygments==2.6.1
pynacl==1.3.0
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2020.1
pyyaml==5.3.1
pyzmq==19.0.1
requests==2.22.0
scipy==1.4.1
seaborn==0.10.1
six==1.14.0
snowballstemmer==2.0.0
sphinx==2.1.2
sphinxcontrib-apidoc==0.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-mermaid==0.4.0
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
testpath==0.4.4
texttable==1.6.2
torchfile==0.1.0
tornado==6.0.4
traitlets==4.3.3
urllib3==1.25.9
visdom==0.1.8.9
webencodings==0.5.1
websocket-client==0.57.0
werkzeug==1.0.1
wtforms==2.3.1
zipp==3.1.0
