aea==0.1.4
alabaster==0.7.12
aniso8601==8.0.0
appdirs==1.4.3
attrs==19.3.0
Babel==2.8.0
backcall==0.1.0
base58==2.0.0
bcrypt==3.1.7
bleach==3.1.4
cached-property==1.5.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.1
colorlog==4.1.0
coverage==5.1
cryptography==2.9.2
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.0
docker==4.2.0
docker-compose==1.25.5
dockerpty==0.4.1
docopt==0.6.2
docutils==0.16
ecdsa==0.15
entrypoints==0.3
fetchai-ledger-api==1.1.0a1
filelock==3.0.12
flake8==3.7.9
flake8-docstrings==1.5.0
Flask==1.1.2
Flask-RESTful==0.3.8
graphviz==0.14
idna==2.9
imagesize==1.2.0
importlib-metadata==1.6.0
ipykernel==5.2.1
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.2
jsonpatch==1.25
jsonpointer==2.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
kiwisolver==1.2.0
lark-parser==0.8.1
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.2.0
msgpack==0.6.2
mypy==0.770
mypy-extensions==0.4.3
nbconvert==5.6.1
nbformat==5.0.6
nbsphinx==0.6.1
notebook==6.0.3
numpy==1.18.3
oef==0.6.10
packaging==20.3
pandas==1.0.3
pandocfilters==1.4.2
paramiko==2.7.1
parso==0.7.0
pbr==5.4.5
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.1
pipenv==2018.11.26
pluggy==0.13.1
prometheus-client==0.7.1
prompt-toolkit==3.0.5
protobuf==3.11.3
ptyprocess==0.6.0
py==1.8.1
pyaes==1.6.1
pycodestyle==2.5.0
pycparser==2.20
pydocstyle==5.0.2
pyflakes==2.1.1
Pygments==2.6.1
PyNaCl==1.3.0
pyparsing==2.4.7
pyrsistent==0.16.0
pytest==5.4.1
pytest-cov==2.8.1
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3.1
pyzmq==19.0.0
qtconsole==4.7.3
QtPy==1.9.0
requests==2.23.0
scipy==1.4.1
seaborn==0.10.0
semver==2.9.0
Send2Trash==1.5.0
six==1.14.0
snowballstemmer==2.0.0
Sphinx==2.1.2
sphinxcontrib-apidoc==0.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-mermaid==0.4.0
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
-e git+git@github.com:fetchai/agents-tac.git@2a490b863f79325936d8236a5adc7d2753bf1c57#egg=tac
terminado==0.8.3
testpath==0.4.4
texttable==1.6.2
toml==0.10.0
torchfile==0.1.0
tornado==6.0.4
tox==3.7.0
tox-pipenv==1.9.0
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions==3.7.4.2
urllib3==1.25.9
virtualenv==20.0.18
virtualenv-clone==0.5.4
visdom==0.1.8.9
wcwidth==0.1.9
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
widgetsnbextension==3.5.1
WTForms==2.3.1
zipp==3.1.0
