{% extends 'base.html' %}

{% block header %}
  <h2  align="center">{% block title %}Display data{% endblock %}</h2>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-xs-12">
    <p>Please select a JSON file describing a game simulation.</p>

    <form method="POST" enctype="multipart/form-data" action="/upload">
      <input type="file" name="file[]" multiple="">
      <input type="submit" value="submit">
    </form>
  </div>
</div>
<div>
  Simulation parameters:
    <ul>
      <li>nb_agents: {{nb_agents}}</li>
      <li>nb_goods: {{nb_goods}}</li>
      <li>initial_money_amounts: {{initial_money_amounts}}</li>
      <li>fee: {{fee}}</li>
      <li>#transactions: {{nb_transactions}}</li>
    </ul>
</div>
<div align="center">
  <img src="{{saved_plot_figure}}">
  <br>

  <table border="1" cellpadding="5" style="margin: 10px">
    <thead>
      <tr>
        <th>agent id</th>
        <th>initial score</th>
        <th>endowments</th>
        <th>preferences</th>
        <th>final holdings</th>
        <th>final balance</th>
        <th>final score</th>
      </tr>
    </thead>
    <tbody>
      {% for idx, agent_state in idx_agent_states %}
        <tr>
          <th>{{ game.configuration.agent_labels[idx] }}</th>
          <th>{{ game.initial_agent_states[idx].get_score() }}</th>
          <th>{{ game.configuration.endowments[idx] }}</th>
          <th>{{ game.configuration.utilities[idx] }}</th>
          <th>{{ agent_state.current_holdings }}</th>
          <th>{{ agent_state.balance }}</th>
          <th>{{ agent_state.get_score() }}</th>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <br>

  <table border="1" cellpadding="5" style="margin: 10px">
    <thead>
      <tr>
        <th>id</th>
        <th>buyer</th>
        <th>seller</th>
        <th>amount</th>
        <th>B prev. holdings</th>
        <th>B prev. score</th>
        <th>S prev. holdings</th>
        <th>S prev. score</th>
        <th>B cur. holdings</th>
        <th>B cur. score</th>
        <th>S cur. holdings</th>
        <th>S cur. score</th>
      </tr>
    </thead>
    <tbody>
      {% for idx, game_transaction in idx_transactions %}
        <tr>
          <th>{{ idx }}</th>
          <th>{{ game.configuration.agent_labels[game_transaction.buyer_id]}}</th>
          <th>{{ game.configuration.agent_labels[game_transaction.seller_id]}}</th>
          <th>{{ game_transaction.amount }}</th>
          <th>{{ holdings_history[idx][game_transaction.buyer_id] }}</th>
          <th>{{ score_history[idx][game_transaction.buyer_id] }}</th>
          <th>{{ holdings_history[idx][game_transaction.seller_id] }}</th>
          <th>{{ score_history[idx][game_transaction.seller_id] }}</th>
          <th>{{ holdings_history[idx + 1][game_transaction.buyer_id] }}</th>
          <th>{{ score_history[idx + 1][game_transaction.buyer_id] }}</th>
          <th>{{ holdings_history[idx + 1][game_transaction.seller_id] }}</th>
          <th>{{ score_history[idx + 1][game_transaction.seller_id] }}</th>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}
