{% extends "base.html" %}

{% block content %}
<div class="container">
  <h4 class="row">Sandbox list</h4>
  <div class="row">
    <div>
      <button class="btn btn-info" id="btn-add-sandbox">Add</button>
      <button class="btn btn-success" id="btn-submit-gridsearch">Submit</button>
    </div>
  </div>
  <br/>
  <div class="row">

    <div id="accordion">

      <div class="card" id="card-0">
        <div class="card-header" id="heading-0">
          <h5 class="mb-0">
            <button id="btn-title-card" class="btn btn-link" data-toggle="collapse" data-target="#collapse-0" aria-expanded="true" aria-controls="collapse-0">
              Sandbox 1
            </button>
<!--            <button class="btn btn-info" name="btn-duplicate-item">-->
<!--              <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>-->
<!--            </button>-->
            <button class="btn" name="btn-remove-item">
              <i class="fa fa-trash"></i>
            </button>
            <button class="btn btn-danger" name="btn-stop-item">
              <i class="fa fa-stop"></i>
            </button>
          </h5>
        </div>
        <div id="collapse-0" class="collapse" aria-labelledby="heading-0" data-parent="#accordion">
          <div class="card-body">
            <table style="width:100%">
              <tbody>
                {% for items_batched in form_sandbox._fields.items()|batch(3) %}
                <tr>
                  {% for name, field in items_batched %}
                    <th>
                      {{ field.label }} <br/>
                      {{ field }}
                    </th>
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <br>
            <div id="process-status-sandbox-0">
              Process Status: Uninitialised
            </div>
            <div id="controller-status-sandbox-0">
              Controller Status: Uninitialised
            </div>
            <br><div id="info-game-id-0">Game Id: </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <br>
  The controller GUI: <a href="http://localhost:8097" target="_blank">http://localhost:8097</a>

</div>

{% endblock %}
{% block scripts %}
<script src="/static/js/grid_search.js"></script>
{% endblock %}