{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-around">
    <div class="col-xs-6">
      <h4>Sandbox Configurations</h4>
      <form id="form-sandbox">
        {% for name, field in form_sandbox._fields.items() %}
        {{ field.label }}
        {{ field }} <br/>
        {% endfor %}
        <div class="container align-middle">
          <input type="submit" class="btn btn-success" id="btn-start-sandbox" name="btn-start-sandbox"
               value="Start Sandbox"
               onclick='this.form.target="btn-start-sandbox";'>
          <input type="submit" class="btn btn-danger" id="btn-stop-sandbox" name="btn-stop-sandbox" value="Stop Sandbox"
                 onclick='this.form.target="btn-stop-sandbox";'>
        </div>
      </form>
      <br>
        <div id="process-status-sandbox">
          Process Status: Uninitialised
        </div>
        <div id="controller-status-sandbox">
          Controller Status: Uninitialised
        </div>
      <br><div id="info-game-id">Game Id: </div>
    </div>
    <div class="col-xs-6">
      <h4>Agent Configurations</h4>
      <form id="form-agent">
        {% for name, field in form_agent._fields.items() %}
        {{ field.label }}
        {{ field }} <br/>
        {% endfor %}

        <div class="container align-middle">
          <input type="submit" class="btn btn-success" id="btn-start-agent" name="btn-start-agent" value="Start Agent"
                 onclick='this.form.target="btn-start-agent";'>
          <input type="submit" class="btn btn-danger" id="btn-stop-agent" name="btn-stop-agent" value="Stop Agent"
                 onclick='this.form.target="btn-stop-agent";'>

        </div>
      </form>
      <br>
      <div id="process-status-agent">
        Process Status: Uninitialised
      </div>
      <div id="agent-status-agent">
        Controller Status: Uninitialised
      </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/launcher.js"></script>
{% endblock %}
