{% extends "base.html" %}

{% block content %}
        <h2>Sandbox Configurations</h2>
        <form id="form-sandbox">
                {% for name, field in form_sandbox._fields.items() %}
                        {{ field.label }} <br/>
                        {{ field }} <br/>
                {% endfor %}
                <input type="submit" class="btn btn-success" id="btn-start-sandbox" name="btn-start-sandbox" value="Start Sandbox" onclick='this.form.target="btn-start-sandbox";'>
                <input type="submit" class="btn btn-danger" id="btn-stop-sandbox" name="btn-stop-sandbox" value="Stop Sandbox" onclick='this.form.target="btn-stop-sandbox";'>
        </form>
        <div id="response"></div>
{% endblock %}
